.footer {
	padding-top: 60px;
	background:#011324;
	color: $white;
	@media (max-width: $mobileSmall) {
		padding-top: 40px;
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(4, 272px);
		column-gap: 64px;
		row-gap: 40px;
		margin-bottom: 42px;

		@media (max-width: 1300px) {
			grid-template-columns: repeat(4, 1fr);
		}
		@media (max-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: $mobileSmall) {
			grid-template-columns: 1fr;
		}
	}
}
.footer-item {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;

	h3 {
		color: #FF6B0B;
		margin-bottom: 24px;
		font-weight: 700;
		font-size: 16px;
		line-height: 20px;
		@media (max-width: $mobileSmall) {
			text-align: center;
		}
	}
	ul {
		li {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
			@media (max-width: $mobileSmall) {
				text-align: center;
			}
		}
		&:not(.footer-social) {
			a {
				@extend %underline-link;
				&:before {
					background: $white;
				}
			}
		}
	}
	span {
		max-width: 108px;
		display: block;
		margin-bottom: 20px;
		@media (max-width: $mobileSmall) {
			text-align: center;
		}
	}
	&:last-child {
		& > a {
			@extend %underline-link;
			&:before {
				background: $white;
			}
		}
		@media (max-width: $mobileSmall) {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}
}
.footer-bottom {
	border-top: 1px solid #343A40;
	padding: 16px 0 19px 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #E8E8E8;
	
	&__content {
		display: grid;
		grid-template-columns: repeat(4, 272px);
		column-gap: 64px;
		row-gap: 10px;

		@media (max-width: 1300px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: $mobileSmall) {
			grid-template-columns: 1fr;
			justify-items: center;
		}

		div {
			grid-column: 4 / -1;
			@media (max-width: 1300px) {
				grid-column: 2 / -1;
				justify-self: flex-end;
			}
			@media (max-width: $mobileSmall) {
				grid-column: 1 / -1;
				order: -1;
				justify-self: center;
			}
			a {
				@extend %underline-link;

				&:before {
					background: $white;
				}
				&:not(:last-child) {
					margin-right: 30px;
				}
			}
		}
	}
}
.footer-social {
	display: grid;
	grid-template-columns: repeat(6, 28px);
	gap: 10px;
	margin-top: 20px;
	@media (max-width: $mobileSmall) {
		margin-top: 30px;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	img, svg {
		max-width: 24px;
		@media(max-width: $mobileSmall) {
			max-width: 37px;
		}
	}
	li {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 28px;
		height: 28px;
		border: 1px solid transparent;
		transition: $defaultTransition;
		border-radius: 100%;
		margin: 0!important;
		&:hover {
			border-color: $primary;
		}
		@media(max-width: $mobileSmall) {
			width: 37px;
			height: 37px;
		}
	}
}