.button {
	display: inline-block;
	padding: 12px 36px 14px 36px;
	background: $primary;
	transition: $defaultTransition;
	border-radius: 24px;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: $white;
	text-align: center;
	cursor: pointer;

	&:hover {
		filter: brightness(0.8);
	}

	&_transparent {
		background: transparent;
		border: 1px solid $white;

		&:hover {
			background: $white;
			color: $black;
			filter: none;
		}
	}
	&_outlined {
		background: transparent;
		border: 1px solid #BDCDD4;
		color: $black;

		&:not(.button_white) {
			&:hover {
				background: $primary;
				color: $white;
				filter: none;
				border-color: $primary;
			}
		}
		&.button_white {
			&:hover {
				background: #BDCDD4;
			}
		}
	}
	&_white {
		background: $white;
		color: $black;

		&:hover {
			background: rgba($white, 0.85);
			filter: none;
		}
	}
}

.page-heading {
	color: $white;
	max-width: 640px;

	&_center {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		max-width: 100%;
	}

	h1 {
		font-weight: 700;
		font-size: 48px;
		line-height: 60px;
		margin-bottom: 16px;
		@media (max-width: $mobile) {
			font-size: 32px;
			line-height: 36px;
			text-align: center;
		}
	}

	h3 {
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	p {
		font-weight: 400;
		font-size: 18px;
		line-height: 28px;
		@media (max-width: $mobile) {
			font-size: 16px;
			line-height: 25px;
			text-align: center;
		}
	}

	&__buttons {
		margin-top: 28px;

		@media (max-width: $mobile) {
			display: grid;
			gap: 16px;
		}
		@media (min-width: $mobile) {
			.button:not(:last-child) {
				margin-right: 16px;
			}
		}
	}
}

.tag {
	display: inline-block;
	background: #E6EDF0;
	border-radius: 50px;
	padding: 5px 24px;
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
}

.paralax-box {
	position: relative;
	min-height: 328px;
	padding: 80px 0;

	@media (max-width: $mobile) {
		padding: 40px 0;
		.paralax-box__content {
			min-height: 248px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.page-heading {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}
	}

	.page-heading {
		& > .button {
			margin-top: 30px;
			@media (max-width: $mobile) {
				margin-top: 20px;
			}
		}
	}

	&__image-ibg {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
		pointer-events: none;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: #47749E;
			opacity: 0.85;
			z-index: 2;
		}
	}
	&_big {
		padding: 122px 0 147px 0;
		@media (max-width: $mobile) {
			padding: 40px 0;
		}
		.paralax-box__content {
			display: flex;
			justify-content: center;
		}
		.page-heading {
			display: flex;
			flex-direction: column;
			max-width: 872px;
			h2 {
				font-weight: 700;
				font-size: 36px;
				line-height: 42px;
				text-align: center;
				margin-bottom: 27px;
				@media (max-width: $mobile) {
					font-size: 28px;
					line-height: 32px;
					margin-bottom: 20px;
				}
			}
			p {
				text-align: center;
				&:not(:last-child) {
					margin-bottom: 12px;
				}
			}
			.button {
				margin: 47px auto 0 auto;
			}
		}
	}
	&_small {
		padding: 32px 0;
		min-height: auto;

		.paralax-box__content {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&_stat {
		h2 {
			font-weight: 700;
			font-size: 36px;
			line-height: 42px;
			text-align: center;
			margin-bottom: 40px;
			color: $white;
	
			@media (max-width: $mobile) {
				font-size: 28px;
				line-height: 32px;
			}
		}
	}
	&_blog {
		min-height: 120px;
		padding: 30px 0;
		.paralax-box__content {
			min-height: 60px;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		h1 {
			margin: 0;
		}
	}
	&_article {
		
		.paralax-box__content {
			min-height: 168px;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			@media (max-width: $mobile) {
				min-height: 248px;
			}
			p {
				text-align: center;
			}
		}
	}
}

.partners {
	
	&__content {
		padding: 40px 0;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(149px, 1fr));
		gap: 18px;
		justify-items: center;
		border-bottom: 1px solid #E8E8E8;

		@media (max-width: $mobileSmall) {
			grid-template-columns: repeat(auto-fill, minmax(82px, 1fr));
			row-gap: 20px;
			column-gap: 4px;
			img {
				max-width: 82px;
			}
		}
	}
}

.solutions {
	padding: 20px 0 80px 0;

	@media (max-width: $mobile) {
		padding: 10px 0;
	}
	&__head {
		margin-bottom: 40px;
		max-width: 868px;
		h3 {
			margin-bottom: 24px;
			font-weight: 700;
			font-size: 36px;
			line-height: 42px;
			text-align: center;
			@media (max-width: $mobile) {
				font-size: 28px;
				line-height: 32px;
			}
		}
		p {
			font-weight: 400;
			font-size: 16px;
			line-height: 25px;
			opacity: 0.6;
			text-align: center;
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
		strong {
			display: block;
			font-size: 16px;
			line-height: 20px;
			text-align: center;
			opacity: 0.65;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__grid {
		width: 100%;
		margin-bottom: 40px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(312px, 1fr));
		gap: 24px;
		@media (max-width: $mobile) {
			grid-template-columns: repeat(auto-fill, minmax(162px, 1fr));
			gap: 20px
		}
	}
}

.solution-card {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 380px;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: flex-end;
	padding: 24px;
	color: $white;
	overflow: hidden;

	@media (max-width: $mobile) {
		min-height: 200px;
		padding: 11px;
	}

	&__content {
		margin-top: auto;
		overflow: hidden;
		transform: translateY(80%);
		transition: $defaultTransition;
		padding-bottom: 2px;
		& > *:not(h3) {
			transition: $defaultTransition;
			opacity: 0;
		}
	}

	h3 {
		margin-bottom: 12px;
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		@media (max-width: $mobile) {
			font-size: 14px;
			line-height: 18px;
		}
	}
	p {
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 20px;
		@media (max-width: $mobile) {
			font-size: 12px;
			line-height: 16px;
		}
	}
	a {
		@extend %underline-link;
		
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		&:before {
			background: $white;
		}
	}

	& > * {
		position: relative;
		z-index: 2;
	}
	&:before {
		@extend %cover;
		content: '';
		background: rgba(62, 100, 135, 0.85);
		pointer-events: none;
		z-index: 2;
		opacity: 0;
		transition: $defaultTransition;
	}
	&:after {
		@extend %cover;
		content: '';
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 76.46%, #000000 100.14%);
	}

	&:hover {
		&:before {
			opacity: 1;
		}
		.solution-card__content {
			transform: translate(0);
			&>*:not(h3) {
				opacity: 1;
			}
		}
	}
}

.numbers {
	padding: 60px 0;
	background: #E6EDF0;

	@media (max-width: $mobile) {
		padding: 40px 0;
	}

	&__content {
		display: grid;
		align-items: center;
		grid-template-columns: auto 1fr auto;
		gap: 30px;
		
		@media (max-width: $tablet) {
			grid-template-columns: 1fr;
		}
	}
	&__heading {
		span {
			font-size: 36px;
			line-height: 42px;
			display: block;
			font-weight: 300;
			&:first-child {
				font-weight: 700;
			}
		}
	}
	&__grid {
		width: 100%;
		max-width: 871px;
		justify-self: end;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
		@media (max-width: $tablet) {
			max-width: 100%;
			width: 100%;
			justify-self: baseline;
		}
		@media (max-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	&__number {
		max-width: 202px;
		span {
			&:first-child {
				display: block;
				font-weight: 700;
				font-size: 40px;
				line-height: 52px;
				color: #47749E;
				margin-bottom: 12px;
				@media (max-width: $mobile) {
					font-size: 32px;
					line-height: 36px;
				}
			}
			&:last-child {
				font-weight: 400;
				font-size: 16px;
				line-height: 25px;
				color: #343A40;
			}
		}
	}
}

.reviews {
	padding: 80px 0;
	@media (max-width: $mobile) {
		padding: 40px 0;
	}

	&__content {
		display: flex;
		flex-direction: column;
	}
	&__hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
		max-width: 868px;
		margin-bottom: 60px;
		@media (max-width: $mobile) {
			margin-bottom: 20px;
		}

		img {
			margin-bottom: 24px;
		}
		h2 {
			font-weight: 700;
			font-size: 36px;
			line-height: 42px;
			margin-bottom: 24px;
			text-align: center;
		}
		p {
			font-weight: 400;
			font-size: 16px;
			line-height: 25px;
			text-align: center;
		}
	}
	&__slider {
		display: grid;
		grid-template-columns: 24px 1fr 24px;
		gap: 64px;

		@media (max-width: $tablet) {
			gap: 30px;
			grid-template-columns: 14px 1fr 14px;
		}
		@media (max-width: $mobile) {
			grid-template-columns: 1fr 1fr;
			grid-template-areas: 
				"slider slider"
				"prev next"
			;
			gap: 20px;
			
		}
	}
	.review__slider {
		min-width: 0;
		width: 100%;
		@media (max-width: $mobile) {
			grid-area: slider;
		}
	}
	.review__slide {
		@media (max-width: $mobile) {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
		img {
			margin-bottom: 8px;
		}
		h4 {
			margin-bottom: 8px;
			font-weight: 700;
			font-size: 18px;
			line-height: 24px;
		}
		p {
			font-weight: 400;
			font-size: 16px;
			line-height: 25px;
			color: #7C7D81;
		}
	}
	.review__rating {
		margin-top: 18px;
		display: grid;
		grid-template-columns: 48px 1fr;
		grid-template-rows: auto auto;
		column-gap: 10px;
		row-gap: 4px;

	}
	.review__person {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 48px;
		height: 48px;
		background: #E6EDF0;
		border-radius: 100%;
		font-weight: 400;
		font-size: 16px;
		line-height: 100%;
		text-align: center;
		color: #25221D;
		text-transform: uppercase;
		grid-row: 1 / -1;
	}
	.review__autor {
		font-weight: 400;
		font-size: 16px;
		line-height: 25px;
	}
	.review__stars {
		grid-column: 2 / -1;
		display: grid;
		grid-template-columns: repeat(5, 16px);
	}
	.review__next,
	.review__prev {
		align-self: center;
		cursor: pointer;
		width: 24px;
		height: 48px;
	
		@media (max-width: $tablet) {
			width: 14px;
			height: 28px;
		}
		@media (max-width: $mobile) {
			justify-self: center;
		}
	
		svg {
			fill: #a9b0b3;
		}
	
		&._disabled {
			svg {
				fill: #E6EDF0;
			}
		}
	}
	.review__next {
		@media (max-width: $mobile) {
			grid-area: prev;
		}
	}
	.review__next {
		@media (max-width: $mobile) {
			grid-area: next;
		}
		transform: rotate(180deg);
	}
}

.s-action {
	padding: 32px 0;
	color: $white;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		h2 {
			text-align: center;
			font-weight: 700;
			font-size: 32px;
			line-height: 36px;
			margin-bottom: 20px;
			@media (max-width: $mobileSmall) {
				font-size: 28px;
				line-height: 32px;
			}
			span {
				color: #47749E;
			}
		}
		p {
			text-align: center;
			max-width: 646px;
			font-size: 16px;
			line-height: 25px;
		}
	}
}

.tip {
	flex: 0 0 20px;
	width: 20px;
	height: 20px;
	position: relative;
	margin-left: 8px;
	cursor: help;

	&__content {
		position: absolute;
		top: 0;
		left: 100%;
		padding: 4px;
		border-radius: 4px;
		min-width: 100px;
		border: 1px solid $grey;
		background: $white;
		transform: translateY(-100%);
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
		transition: $defaultTransition;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		color: #7C7D81;
		@media (max-width: $tablet) {
			transform: translate(-80%, -110%);
		}
	}
	&:hover {
		.tip__content {
			pointer-events: all;
			visibility: visible;
			opacity: 1;
		}
	}
}

.s-delivery {
	position: relative;
	padding-bottom: 140px;
	@media (max-width: 600px) {
		padding-bottom: 20px;
	}
	&:before {
		content: '';
		position: absolute;
		width: 270px;
		height: 227px;
		left: 0;
		top: 0;
		background: #BDCDD4;
		opacity: 0.1;
		z-index: -1;
	}
	&:after {
		content: '';
		position: absolute;
		width: 270px;
		height: 227px;
		left: 10%;
		top: 128px;
		background: #BDCDD4;
		opacity: 0.1;
		z-index: -1;
		@media (max-width: 600px) {
			left: 50%;
			transform: translateX(-50%);
		}
	}
	h3 {
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		color: #343A40;
	}
	.button {
		margin-top: 24px;
		@media (min-width: $mobile) {
			align-self: baseline;
		}
	}
	&__title {
		font-weight: 700;
		font-size: 28px;
		line-height: 32px;
		margin-bottom: 16px;
		&_big {
			font-weight: 700;
			font-size: 36px;
			line-height: 42px;
			text-align: center;
			color: #25221D;
			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
	}
	&__content {
		padding: 37px 0 0 0;
		display: grid;
		grid-template-columns: 1fr 560px;
		column-gap: 88px;
		row-gap: 20px;
		align-items: flex-start;
		@media (max-width: $tablet) {
			grid-template-columns: 1fr;
		}
	}
	&__form {
		display: grid;
		justify-content: center;
	}
	.form_delivery {
		@media (min-width: $tablet) {
			margin-top: -250px;
		}
	}
	&__text {
		display: flex;
		flex-direction: column;
		@media (max-width: 600px) {
			padding-bottom: 20px;
		}
	}
	&__links {
		align-self: center;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 80px;
		&:not(:last-child) {
			margin-bottom: 24px;
		}
		@media (max-width: $mobileSmall) {
			width: 100%;
			display: flex;
			justify-content: space-between;
			gap: 0;
		}

		a {
			@extend %page-link;
			display: grid;
			grid-template-columns: 1fr;
			row-gap: 10px;
			justify-items: center;
		}
	}
}

.page-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 25px;
	color: #343A40;
	a {
		text-decoration-line: underline;
		color: #47749E;
		&:hover {
			text-decoration-line: none;
		}
	}
	&:not(:last-of-type) {
		margin-bottom: 24px;
	}
}

.s-map {
	padding: 50px 0;
	@media (max-width: $mobile) {
		padding: 20px 0;
	}
	&__content {
		display: grid;
		grid-template-columns: 648px 1fr;
		column-gap: 80px;
		row-gap: 20px;
		@media (max-width: 1200px) {
			grid-template-columns: 448px 1fr;
			column-gap: 40px;
		}
		@media (max-width: $tablet) {
			grid-template-columns: 1fr;
		}
	}
	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		@media (max-width: $tablet) {
			order: -1;
		}
		h3 {
			font-weight: 700;
			font-size: 36px;
			line-height: 42px;
			color: #47749E;
			margin-bottom: 30px;
			@media (max-width: $mobileSmall) {
				font-size: 28px;
				line-height: 32px;
				margin-bottom: 20px;
			}
		}
		p {
			font-weight: 400;
			font-size: 16px;
			line-height: 25px;
			color: #343A40;
		}
	}
	&_reverse {
		margin-top: 80px;
		@media (max-width: $tablet) {
			margin-top: 20px;
			.s-map__map {
				order: -1;
			}
		}
		.s-map__content {
			grid-template-columns: 1fr 648px;
			@media (max-width: 1200px) {
				grid-template-columns: 1fr 448px;
			}
		
			@media (max-width: $tablet) {
				grid-template-columns: 1fr;
			}
		}
	}
}

.s-textcontent {
	padding: 80px 0;

	@media (max-width: $mobile) {
		padding: 40px 0;
	}
	
	&__container {
		display: flex;
		justify-content: center;
	}
	&__content {
		max-width: 939px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		color: #25221D;

		@media (max-width: $mobile) {
			text-align: center;
			font-size: 28px;
			line-height: 32px;
		}
		
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		& ~ p {
			max-width: 622px;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			text-align: center;
			color: #25221D;
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}
	&__list-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 40px;
		row-gap: 4px;

		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
			width: 100%;
		}
		
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
	&__list {
		@media (min-width: $mobile) {
			max-width: 409px;
		}
		
		li {
			display: flex;
			align-items: flex-start;
			position: relative;
			font-weight: 400;
			font-size: 16px;
			line-height: 25px;
			color: #343A40;
			&:before {
				content: '';
				display: block;
				width: 7px;
				height: 7px;
				flex: 0 0 7px;
				border-radius: 100%;
				background: #7C7D81;
				margin: 10px 20px 0 10px;
			}
			&:not(:last-child) {
				margin-bottom: 6px;
			}
		}
		a {
			text-decoration: underline;
			color: #47749E;
			&:hover {
				text-decoration: none;
			}
		}
		strong {
			display: inline;
		}
	}
	&__buttons {
		display: inline-grid;
		grid-template-columns: auto auto;
		column-gap: 44px;
		row-gap: 20px;
		@media (max-width: $mobile) {
			display: grid;
			width: 100%;
			grid-template-columns: 1fr;
		}
	}
	.page-text {
		text-align: center;
		line-height: 25px;
		max-width: 100%;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
}

.s-alphabet {
	background: #E6EDF0;
	padding: 50px 0 78px 0;
	@media (max-width: $mobile) {
		padding: 40px 0;
	}
	&__content {
		h2 {
			font-weight: 700;
			font-size: 36px;
			line-height: 42px;
			color: #25221D;
			margin-bottom: 30px;
			text-align: center;
		}
	}
	&__list {
		display: flex;
		flex-flow: column;
		flex-wrap: wrap;
		justify-content: space-between;
		list-style: none;
		max-height: 334px;
		overflow: auto;
		@media (max-width: $tablet) {
			max-height: 500px;
		}
		@media (max-width: $mobile) {
			max-height: 800px;
		}
		@media (max-width: $mobileSmall) {
			max-height: 1370px;
		}

		& > li {
			max-width: 108px;
			align-self: baseline;
			&:not(:last-child) {
				margin-bottom: 10px;
			}
			& > span {
				font-weight: 700;
				font-size: 14px;
				line-height: 18px;
				color: #47749E;
				margin: 0 0 10px 22px;
				display: block;
			}
			ol {
				display: flex;
				flex-flow: column;
				flex-wrap: wrap;
				li {
					display: flex;
					align-items: center;
					position: relative;
					&:not(:last-child) {
						margin-bottom: 10px;
					}
					&:before {
						content: '';
						display: block;
						flex: 0 0 14px;
						width: 14px;
						height: 18px;
						margin-right: 8px;
						background-image: url('../img/interface/list-arrow.svg');
						align-self: baseline;
					}
				}
				span {
					font-weight: 400;
					font-size: 14px;
					line-height: 18px;
					color: #25221D;
				}
			}
		}
	}
}

.related-links {
	margin-bottom: 80px;
	h3 {
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		color: #25221D;
		margin-bottom: 30px;
	}
	&__grid {
		display: grid;
		grid-template-columns: minmax(290px, 536px) 1fr;
		column-gap: 136px;
		row-gap: 20px;
		@media (max-width: 1200px) {
			grid-template-columns: minmax(290px, 480px) 1fr;
			column-gap: 40px;
		}
		@media (max-width: $tablet) {
			grid-template-columns: 1fr;
		}
	}
	&__list {
		li {
			padding: 28px 0;
			border-bottom: 1px solid #E8E8E8;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;

			&:after {
				content: '';
				display: block;
				flex: 0 0 40px;
				width: 40px;
				height: 40px;
				background-image: url('../img/interface/send-arrow.svg');
				margin-left: 30px;
			}
			&:first-child {
				border-top: 1px solid #E8E8E8;
			}
			&:last-child {
				border: none;
				padding-bottom: 0;
				display: flex;
				justify-content: flex-end;
				&:after {
					display: none;
				}
			}
		}
		a:not(.button) {
			@extend %underline-link;
			font-weight: 700;
			font-size: 28px;
			line-height: 32px;
			color: #47749E;
			&:before {
				background: #47749E;
				height: 2px;
			}
		}
		@media (max-width: $tablet) {
			.button {
				width: 100%;
			}
		}
	}
	&_text {
		padding: 80px 0;
		margin: 0;
		@media (max-width: $mobile) {
			padding: 40px 0;
		}
		li:after {
			background-image: url('../img/interface/direct-arrow.svg');
		}
		li:last-child {
			justify-content: space-between;
		}
		li:last-child:after {
			display: block;
		}
		.related-links__grid {
			column-gap: 67px;
			row-gap: 25px;
		}
		.related-links__text {
			align-self: center;
			h2 {
				font-weight: 700;
				font-size: 48px;
				line-height: 60px;
				color: #25221D;
				margin-bottom: 37px;
				@media (max-width: $mobile) {
					font-size: 28px;
					line-height: 32px;
					margin-bottom: 20px;
				}
			}
			p {
				font-weight: 400;
				font-size: 18px;
				line-height: 28px;
				color: #343A40;
				margin-bottom: 51px;
				@media (max-width: $mobile) {
					margin-bottom: 20px;
				}
			}
		}
	}
	&_last {

		li:last-child {
			justify-content: space-between;
		}
		li:last-child:after {
			display: none;
		}
	}
}

.logistics {
	margin-bottom: 80px;
	
	@media (max-width: $mobile) {
		margin-bottom: 20px;
	}

	&__heading {
		text-align: center;
		font-weight: 700;
		font-size: 28px;
		line-height: 32px;
	}
	&__image {
		margin: 30px 0;
	}
	&__terms {
		.page-text {
			border-top: 1px solid #E8E8E8;
			margin-top: 13px;
			padding-top: 13px;
		}
	}
	&__grid {
		display: grid;
		grid-template-columns: 1fr 560px;
		column-gap: 88px;
		row-gap: 40px;
		align-items: baseline;
		@media (max-width: 1200px) {
			grid-template-columns: 1fr;
			.form {
				justify-self: center;
			}
		}
	}
	&__list {
		& > li {
			display: grid;
			grid-template-columns: 138px 1fr;
			column-gap: 20px;
			row-gap: 10px;
			padding-bottom: 20px;
			&:not(:first-child) {
				padding-top: 20px;
			}
			&:not(:last-child) {
				border-bottom: 1px solid #E8E8E8;
			}
			@media (max-width: $mobile) {
				grid-template-columns: 1fr;
			}
		}
		img:not(:first-child) {
			margin-top: 40px;
		}
		.button {
			align-self: center;
			&:not(:first-child) {
				margin-top: 16px;
			}
		}
	}
	&__head {
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		color: #25221D;
	}
	&__body {
		display: flex;
		flex-direction: column;
	}
	&__text {
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		color: #7C7D81;
	}
	
}
.logistics__links {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #25221D;


	a {
		color: #47749E;
		line-height: 200%;
		text-decoration: underline;

		&:not(:last-child) {
			margin-right: 4px;
		}

		&:hover {
			text-decoration: none;
		}
	}
}

.statistics {
	&__heading {
		margin-bottom: 32px;
		
		h2 {
			text-align: center;
			font-weight: 700;
			font-size: 36px;
			line-height: 42px;
			margin-bottom: 16px;
		}
	
		p {
			text-align: center;
			font-weight: 400;
			font-size: 16px;
			line-height: 25px;
		}
	}
	&__list {
		counter-reset: s;
		li {
			display: grid;
			grid-template-columns: 64px 1fr;
			align-items: center;
			column-gap: 28px;
			counter-increment: s;
			position: relative;
			&:not(:last-child) {
				margin-bottom: 58px;
				@media (max-width: $mobileSmall) {
					margin-bottom: 40px;
				}
			}
			&:before {
				@extend %flex-center;
				content: counter(s);
				width: 64px;
				height: 64px;
				border-radius: 100%;
				border: 1px solid $primary;
				font-weight: 400;
				font-size: 28px;
				line-height: 28px;
				color: $primary;
				align-self: baseline;
			}
			h2 {
				font-weight: 700;
				font-size: 28px;
				line-height: 32px;
				margin: 15px 0 22px 0;
			}
			.page-text:not(:last-child) {
				margin-bottom: 10px;
			}
			@media (max-width: $mobileSmall) {
				grid-template-columns: 1fr;
			}
		}
	}
	&__grid {
		display: grid;
		align-items: center;
		grid-template-columns: 1fr 560px;
		column-gap: 88px;
		row-gap: 40px;
	
		@media (max-width: 1200px) {
			grid-template-columns: 1fr;
			img {
				justify-self: center;
			}
		}
	}
}

.advantages {
	padding: 60px 0 85px 0;
	background: #E6EDF0;
	@media (max-width: $mobile) {
		padding: 40px 0;
	}
	&__heading {
		margin-bottom: 67px;
		display: flex;
		flex-direction: column;
		align-items: center;
		p {
			font-weight: 400;
			font-size: 18px;
			line-height: 28px;
			text-align: center;
			max-width: 648px;
		}
	}
	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
		gap: 24px;
		@media (max-width: $mobile) {
			grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
		}
	}
	.advantage {
		img {
			margin-bottom: 8px;
		}
		h2 {
			margin-bottom: 20px;
			font-weight: 700;
			font-size: 36px;
			line-height: 42px;
		}
		p {
			font-weight: 400;
			font-size: 18px;
			line-height: 28px;
			color: #343A40;
		}
	}
}

.shipment {
	background: #E6EDF0;
	padding: 37px 0 35px 0;

	&__content {
		display: grid;
		grid-template-columns: 1fr 412px;
		column-gap: 74px;
		row-gap: 20px;
		align-items: center;
		@media (max-width: $tablet) {
			grid-template-columns: 1fr;
		}
	}
	&__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		h2 {
			font-weight: 700;
			font-size: 36px;
			line-height: 42px;
			text-align: center;
			margin-bottom: 16px;
			@media (max-width: $mobile) {
				font-size: 28px;
				line-height: 32px;
			}
		}
		p {
			font-weight: 400;
			font-size: 16px;
			line-height: 25px;
			text-align: center;
			&:not(:last-child) {
				margin-bottom: 48px;
			}
		}
	}
	&__form {
		display: grid;
		grid-template-columns: 312px 112px;
		grid-template-rows: 48px;
		margin-bottom: 16px;
		&._error {
			input {
				border: 1px solid $red;
			}
		}
		input {
			background: #FFFFFF;
			border-radius: 40px 0px 0px 40px;
			height: 100%;
			padding: 18px 16px 18px 16px;
			font-weight: 400;
			font-size: 12px;
			line-height: 12px;
			@include placeholder-content {
				color: #BCBCBC;
			}
		}
		button {
			height: 100%;
			border-radius: 0px 40px 40px 0px;
		}
		@media (max-width: $mobileSmall) {
			width: 100%;
			grid-template-columns: 1fr 104px;
		}
	}
	&__link {
		display: flex;
		flex-direction: column;
		align-items: center;
		figure {
			margin-bottom: 15px;
		}
		figcaption {
			text-align: center;
			margin-top: 15px;
		}
	}
	&__agree {
		@media (max-width: $mobileSmall) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		span {
			font-weight: 400;
			font-size: 14px;
			line-height: 150%;
			color: #BCBCBC;
			@media (max-width: $mobileSmall) {
				display: block;
				margin-bottom: 8px;
				text-align: center;
			}
		}
		a {
			font-weight: 400;
			font-size: 14px;
			line-height: 140%;
			color: #25221D;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.account-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 0;
	@media (max-width: $mobile) {
		padding: 40px 0;
	}
	h2 {
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		color: #25221D;
		margin-bottom: 24px;
		max-width: 872px;
		@media (max-width: $mobile) {
			font-weight: 700;
			font-size: 28px;
			line-height: 32px;
			text-align: center;
			color: #25221D;
		}
	}
	p {
		font-weight: 400;
		font-size: 18px;
		line-height: 28px;
		text-align: center;
		color: #7C7D81;
		margin-bottom: 24px;
		max-width: 872px;
	}
}

.stat-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1.9fr;
	grid-template-rows: auto repeat(4, minmax(144px, auto));
	gap: 24px;
	&__title {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		h3 {
			font-weight: 700;
			font-size: 20px;
			line-height: 24px;
			text-align: center;
			color: $white;
		}
	}
	&__item {
		@extend %flex-center;
		background: #FFFFFF;
		border-radius: 20px;
		padding: 32px;
	}
	&__list {
		width: 100%;
		counter-reset: statCounter;
		li {
			counter-increment: statCounter;
			font-weight: 400;
			font-size: 16px;
			line-height: 25px;
			color: #25221D;
			&:before {
				content: '0' counter(statCounter) '.';
				font-weight: 400;
				font-size: 16px;
				line-height: 25px;
				color: #BCBCBC;
				margin-right: 4px;
			}
			&:not(:last-child) {
				margin-bottom: 6px;
			}
			a {
				text-decoration: underline;
				color: #47749E;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	&:not(.stat-grid_mobile) {
		@media (max-width: $mobile) {
			display: none;
		}
	}
	&_mobile {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, minmax(70px, auto));
		row-gap: 20px;
		@media (min-width: $mobile) {
			display: none;
		}
		& > div {
			display: grid;
			grid-template-columns: 1.5fr 2fr;
			column-gap: 10px;
			row-gap: 6px;
		}
		.stat-grid__item {
			padding: 15px 10px;
			border-radius: 10px;
			img {
				max-width: 30px;
			}
		}
		.stat-grid__list li {
			font-size: 14px;
			line-height: 20px;
		}
		.stat-grid__title {
			h3 {
				font-size: 14px;
				line-height: 18px;
			}
		}
	}
}

.s-forwarding {
	padding: 80px 0;
	@media (max-width: $mobile) {
		padding: 40px 0;
	}
	&__content {
		display: grid;
		grid-template-columns: 2fr 1.5fr;
		column-gap: 52px;
		row-gap: 30px;
		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
		}
	}
	&__text {
		h3 {
			font-weight: 700;
			font-size: 36px;
			line-height: 42px;
			color: #25221D;
			margin-bottom: 40px;
			@media (max-width: $mobile) {
				font-size: 28px;
				line-height: 32px;
			}
		}
	}
	&__list {
		li {
			display: grid;
			align-items: center;
			grid-template-columns: minmax(120px, 1.2fr) 5fr;
			border-bottom: 1px solid #E8E8E8;
			padding-bottom: 20px;
			&:not(:last-child) {
				margin-bottom: 20px;
			}
			@media (max-width: $mobile) {
				grid-template-columns: minmax(120px, 3fr) 4fr;
			}
		}
		span {
			font-weight: 700;
			font-size: 18px;
			line-height: 24px;
			color: #25221D;
		}
		a {
			@extend %page-link;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
		}
	}
}

.s-table {
	margin-bottom: 80px;
	@media (max-width: $mobile) {
		margin-bottom: 40px;
	}
	&__content {

	}
	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		color: #25221D;
		margin-bottom: 40px;
		@media (max-width: $mobile) {
			font-size: 28px;
			line-height: 32px;
		}
	}
	&__list {
		li {
			display: grid;
			grid-template-columns: 312px 1fr;
			column-gap: 48px;
			row-gap: 20px;
			padding: 49px 0 55px 0;
			&:first-child {
				position: relative;
				background:#E6EDF0;
				&:before, &:after {
					content: '';
					top: 0;
					display: block;
					background: #E6EDF0;
					position: absolute;
					width: calc((100vw - $maxWidthContainerPX) / 2);
					height: 100%;
				
					@media (max-width: $maxWidthContainerPX) {
						width: $containerPaddingPX;
					}
				}
				&:before {
					left: 100%;
				}
				&:after {
					right: 100%;
				}
			}
			&:not(:first-child) {
				border-bottom: 1px solid #BCBCBC;
			}
			span {
				font-weight: 700;
				font-size: 32px;
				line-height: 36px;
				color: #47749E;
			}
			p {
				font-weight: 400;
				font-size: 16px;
				line-height: 25px;
				color: #25221D;
			}
			@media (max-width: $mobile) {
				grid-template-columns: 1fr;
				padding: 30px 0;
			}
		}
	}
}

.s-nationwide {
	padding: 80px 0;
	
	@media (max-width: $mobile) {
		padding: 40px 0;
	}
	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		color: #47749E;
		@media (max-width: $mobile) {
			font-size: 28px;
			line-height: 32px;
		}
	}
	&__content {
		display: grid;
		grid-template-columns: 1fr;
		gap: 30px;
		justify-items: center;
		& > * {
			max-width: 900px;
			text-align: center;
		}
		@media (max-width: $mobile) {
			gap: 20px;
		}
	}
}

.worldwide {
	&__heading {
		display: grid;
		grid-template-columns: 200px 1fr;
		column-gap: 64px;
		row-gap: 20px;
		padding: 45px 0 55px 0;
		align-items: center;

		h3 {
			font-weight: 700;
			font-size: 20px;
			line-height: 24px;
			color: #25221D;
			margin-bottom: 6px;

			span {
				color: #47749E;
			}
		}

		p {
			font-weight: 400;
			font-size: 16px;
			line-height: 25px;
			color: #343A40;
		}

		@media (max-width: $mobile) {
			grid-template-columns: 150px 1fr;
			column-gap: 30px;
			padding: 30px 0 40px 0;
		}

		@media (max-width: $mobileSmall) {
			grid-template-columns: 1fr;
		}
	}
}

.worldwide-nav {
	position: relative;
	&:before,
	&:after {
		content: '';
		bottom: 0;
		display: block;
		background:rgba(71, 116, 158, 0.8);
		position: absolute;
		width: calc((100vw - $maxWidthContainerPX) / 2);
		height: 1px;

		@media (max-width: $maxWidthContainerPX) {
			width: $containerPaddingPX;
		}
	}

	&:before {
		left: 100%;
	}

	&:after {
		right: 100%;
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(6, minmax(90px, 1fr));
		//gap: 10px;
		background: #fff;
		overflow-x: auto;
		overflow-y: hidden;
	
		@media (max-width: $containerWidthPX) {
			width: calc(100vw - $containerPaddingPX);
		}

		li {
			display: flex;
			justify-content: center;
			padding: 18px 0;
			border-width: 1px 1px 0px 1px;
			border-style: solid;
			border-radius: 24px 24px 0px 0px;
			border-color: transparent;
			position: relative;
			font-weight: 700;
			font-size: 18px;
			line-height: 24px;
			color: #25221D;
			border-bottom: 1px solid rgba(71, 116, 158, 0.8);

			@media (max-width: $mobile) {
				font-size: 16px;
				line-height: 20px;
				padding: 10px 0 13px 0;
			}

			&._active {
				border-color: rgba(71, 116, 158, 0.8);
				border-bottom-color: $white;
			}
			&:not(._active) {
				a {
					font-weight: 400;
					color: #47749E;
					transition: $defaultTransition;
				
					&:hover {
						color: $primary;
					}
				}
			}
		}
	}
}

.s-hubs {
	&__content {
		display: grid;
		grid-template-columns: 648px 1fr;
		column-gap: 70px;
		row-gap: 20px;
		@media (max-width: 1200px) {
			grid-template-columns: 1fr 1fr;
			column-gap: 20px;
		}
		@media (max-width: $tablet) {
			grid-template-columns: 1fr;
		}
	}
	&__text {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		row-gap: 30px;
		h2 {
			grid-column: span 4;
			font-weight: 700;
			font-size: 36px;
			line-height: 42px;
			color: #25221D;
			@media (max-width: $tablet) {
				text-align: center;
				font-size: 28px;
				line-height: 32px;
			}
		}
		div {
			grid-column: span 2;
		}
		img {
			grid-column: span 2;
			align-self: center;
		}
		@media (max-width: $tablet) {
			order: -1;
		}
	}
	&__list {
		&:not(:last-child) {
			@media (min-width: $tablet) {
				margin-bottom: 30px;
			}
		}
		li {
			display: flex;
			align-items: center;
			position: relative;
			font-weight: 400;
			font-size: 16px;
			line-height: 25px;
			color: #343A40;
			&:before {
				content: '';
				display: block;
				width: 7px;
				height: 7px;
				border-radius: 100%;
				background: #7C7D81;
				margin: 0 20px 0 10px;
			}
			&:not(:last-child) {
				margin-bottom: 4px;
			}
			a {
				@extend %page-link;
			}
		}
	}
}

.s-share {
	padding: 80px 0;
	@media (max-width: $mobile) {
		padding: 40px 0 60px 0;
	}
	&__content {
		display: flex;
		justify-content: center;
	}
	&__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 700px;
		h2 {
			font-weight: 700;
			font-size: 36px;
			line-height: 42px;
			text-align: center;
			color: #25221D;
			margin-bottom: 24px;
		}
		p {
			text-align: center;
			margin-bottom: 24px;
			font-weight: 400;
			font-size: 16px;
			line-height: 25px;
			text-align: center;
			color: #0B0B0B;
		}
	}
	&__icons {
		display: grid;
		grid-template-columns: repeat(4, 60px);
		column-gap: 50px;
		@media (max-width: $mobile) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			column-gap: 0;
			width: 100%;
		}

		a {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 60px;
			flex: 0 0 60px;
			span {
				margin-top: 10px;
			}
			img {
				width: 60px;
				height: 60px;
				flex: 0 0 60px;
			}
		}
	}
}

.s-spollers {
	padding: 52px 0 75px 0;
	background: #E6EDF0;
	@media (max-width: $mobile) {
		padding: 40px 0 60px 0;
	}
	&__content {
		h2 {
			font-weight: 700;
			font-size: 36px;
			line-height: 42px;
			margin-bottom: 34px;
			text-align: center;
			@media (max-width: $mobile) {
				font-size: 28px;
				line-height: 32px;
			}
		}
	}
	&__nav {
		margin-top: 50px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 30px;
		row-gap: 20px;
		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
		}
	}
	&__button {
		display: flex;
		align-items: center;
		background: #FFFFFF;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.08);
		border-radius: 24px;
		font-weight: 700;
		font-size: 28px;
		line-height: 32px;
		border-radius: 24px;
		color: #231F20;
		padding: 21px 20px 24px 30px;
		transition: $defaultTransition;
		@media (max-width: $tablet) {
			padding: 11px 28px;
		}

		&:hover {
			color: $blue
		}

		&:before, &:after {
			content: '';
			display: block;
			flex: 0 0 26px;
			width: 26px;
			height: 7px;
			display: block;
			background-repeat: no-repeat;
			background-position: center;
		}
	
		@media (max-width: $mobile) {
			font-size: 20px;
			line-height: 24px;
		}
		&:first-child {
			&:before {
				background-image: url('../img/interface/nav-arrow.svg');
				margin-right: 52px;
				@media (max-width: $tablet) {
					margin-right: 16px;
				}
			}
		}
		&:last-child {
			justify-content: flex-end;
			&:after {
				transform: rotate(180deg);
				background-image: url('../img/interface/nav-arrow.svg');
				margin-left: 52px;
				@media (max-width: $tablet) {
					margin-left: 16px;
				}
			}
		}
	}
	.spollers {
		counter-reset: spoller;
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 20px;
		&__item {
			counter-increment: spoller;
			background: #FFFFFF;
			box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.08);
			border-radius: 24px;
		}
		&__title {
			width: 100%;
			display: flex;
			align-items: center;
			font-weight: 700;
			font-size: 28px;
			line-height: 32px;
			border-radius: 24px;
			color: #231F20;
			padding: 21px 47px 24px 30px;
			span {
				text-align: left;
				flex: 1 1 100%;
			}
			@media (max-width: $mobile) {
				font-size: 20px;
				line-height: 24px;
				padding: 11px 28px;
			}
			&:before {
				content: '0' counter(spoller);
				font-weight: 300;
				font-size: 48px;
				line-height: 60px;
				text-align: center;
				color: #47749E;
				margin-right: 24px;
				@media (max-width: $mobile) {
					font-size: 36px;
					margin-right: 15px;
				}
			}
			&::after {
				content: '';
				display: block;
				flex: 0 0 26px;
				width: 26px;
				height: 26px;
				background-image: url('../img/interface/plus.svg');
				background-position: center;
				background-repeat: no-repeat;
				justify-self: flex-end;
				margin-left: 10px;
			}
			&._spoller-active {
				&::after {
					background-image: url('../img/interface/minus.svg');
				}
			}
		}
		&__content {
			display: flex;
			flex-direction: column;
			padding: 0 47px 14px 30px;
			p {
				margin-bottom: 20px;
				font-weight: 400;
				font-size: 18px;
				line-height: 28px;
				color: #231F20;
			}
			.button {
				margin: 0 auto;
			}
		}
	}
}

.s-infotext {
	&__info {
		display: grid;
		grid-template-columns: 70px minmax(auto, 617px);
		align-items: center;
		column-gap: 40px;

		&:not(:first-child) {
			margin-top: 24px;
		}

		&:first-child {
			margin-left: 150px;
		}
		&:last-child {
			margin-left: 300px;
		}

		@media (max-width: $tablet) {
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-left: 0;
			}
		}

		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
			img {
				margin: 0 auto 15px auto;
			}
		}

		p {
			font-weight: 400;
			font-size: 16px;
			line-height: 25px;
			color: #343A40;
			border-left: 10px solid rgba(71, 116, 158, 0.1);
			padding-left: 24px;
			@media (max-width: $mobile) {
				border-left: none;
				border-top: 6px solid rgba(71, 116, 158, 0.1);
				padding-left: 0;
				padding-top: 10px;
			}
		}
	}
}

.s-learn {
	position: relative;
	margin: 80px 0 52px 0;

	@media (max-width: $mobile) {
		padding: 40px 0;
		margin: 40px 0 0 0;
	}

	&__image-ibg {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
		pointer-events: none;
		height: 288px;
		@media (max-width: $mobile) {
			height: 75px;
		}
	}
	&__content {
		padding-top: 340px;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (max-width: $mobile) {
			padding-top: 60px;
		}

		h2 {
			font-weight: 700;
			font-size: 32px;
			line-height: 36px;
			text-align: center;
			color: #25221D;
			margin-bottom: 20px;
		}
	}
}

.s-awards {
	background: #E6EDF0;
	padding: 50px 0 88px 0;
	@media (max-width: $mobile) {
		padding: 40px 0;
	}

	strong {
		margin-bottom: 12px;
		font-size: 16px;
		line-height: 20px;
		text-align: center;
		color: #343A40;
	}

	h2 {
		margin-bottom: 40px;
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		color: #25221D;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;

		&:before, &:after {
			content: '';
			position: absolute;
			width: 232px;
			height: 252px;
			background-image: url('../img/interface/awards-big.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			top: 0;
			@media (max-width: $mobile) {
				width: 76px;
				height: 82px;
			}
		}
		&:before {
			left: 83px;
			@media (max-width: $mobile) {
				left: 0;
			}
		}
		&:after {
			right: 83px;
			@media (max-width: $mobile) {
				right: 0;
			}
		}
	}
	&__list {
		display: flex;
		flex-flow: column;
		flex-wrap: wrap;
		justify-content: space-between;
		list-style: none;
		max-height: 300px;
		column-gap: 60px;

		@media (max-width: 1380px) {
			max-height: 500px;
		}
		
		@media (max-width: $tablet) {
			max-height: 900px;
		}
	
		@media (max-width: $mobileSmall) {
			max-height: 5000px;
		}
		li {
			display: grid;
			grid-template-columns: 16px 1fr;
			gap: 8px;
			font-weight: 400;
			font-size: 14px;
			line-height: 18px;
			color: #25221D;
			max-width: 400px;
			&:not(:last-child) {
				margin-bottom: 12px;
			}
			&:before {
				content: '';
				display: block;
				width: 16px;
				height: 18px;
				background-image: url('../img/interface/awards-small.svg');
			}
		}
	}
}

.s-affiliations {
	padding-top: 80px;
	@media (max-width: $mobile) {
		padding-top: 40px;
	}
	&__content {
		display: grid;
		align-items: center;
		grid-template-columns: minmax(auto, 648px) auto;
		gap: 24px;
		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
		}
	}
	&__text {
		@media (max-width: $mobile) {
			order: -1;
		}
		
		h3 {
			font-weight: 700;
			font-size: 36px;
			line-height: 42px;
			color: #25221D;
			margin-bottom: 30px;
		}
	}
	&__list {
		li {
			display: flex;
			align-items: center;
			font-weight: 400;
			font-size: 16px;
			line-height: 25px;
			color: #343A40;
			&:before {
				content: '';
				align-self: baseline;
				display: block;
				width: 7px;
				height: 7px;
				background: #47749E;
				border-radius: 100%;
				margin: 10px 20px 0 10px;
			}
		}
	}
}

.blog-tags {
	display: flex;
	flex-wrap: wrap;
	margin: 17px 0 34px 0;
	@supports((column-gap: 16px) and (row-gap: 4px)) {
		column-gap: 16px;
		row-gap: 4px;
	}
	li {
		a {
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			color: #25221D;
			transition: $defaultTransition;
			&._current {
				border-bottom: 1px solid #F8700D;
			}
			&:hover {
				color:#F8700D;
				&:before {
					background: #F8700D;
				}
			}
		}
	}
}

.blog-grid {
	display: grid;
	grid-template-columns: 1fr 336px;
	column-gap: 88px;
	row-gap: 60px;

	@media (max-width: 1100px) {
		grid-template-columns: 1fr;
	}

	&__aside {
		h2 {
			font-weight: 700;
			font-size: 28px;
			line-height: 32px;
			color: #212A2F;
			margin-bottom: 24px;
		}
		.button {
			width: 100%;
		}
	}
}

.blog-article {
	display: grid;
	grid-template-columns: 336px 1fr;
	column-gap: 24px;
	row-gap: 20px;
	&:not(:last-child) {
		margin-bottom: 50px;
	}
	@media (max-width: $mobile) {
		grid-template-columns: 1fr;
	}
	&__image-ibg {
		padding-bottom: 75%;
		border-radius: 24px;
		max-height: 252px;
		overflow: hidden;
		img {
			transition: $defaultTransition;
		}
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
	}
	&__content {
		& > a:first-child {
			display: block;
			font-weight: 700;
			font-size: 28px;
			line-height: 32px;
			color: #1B1B1B;
			margin-bottom: 20px;
			transition: $defaultTransition;
			@media (max-width: $mobile) {
				font-size: 20px;
				line-height: 24px;
			}
			&:hover {
				color: $blue;
			}
		}
	}
	&__text {
		margin-top: 20px;
		font-weight: 400;
		font-size: 16px;
		line-height: 25px;
		color: #343A40;
		text-overflow: ellipsis;
	}
}

.blog-recent {
	&:not(:last-child) {
		margin-bottom: 33px;
	}
	h3 {
		font-weight: 400;
		font-size: 18px;
		line-height: 28px;
		color: #25221D;
		margin-bottom: 10px;
	}
}

.blog-article__tags {
	display: flex;
	flex-wrap: wrap;
	li {
		font-weight: 400;
		font-size: 16px;
		line-height: 25px;
		color: #BCBCBC;
		&:not(:last-child) {
			padding-right: 16px;
			margin-right: 16px;
			border-right: 1px solid #BCBCBC;
		}
		a {
			@extend %page-link;
		}
	}
}

.article__content {
	display: grid;
	grid-template-columns: 1fr 16px;
	gap: 32px;
	margin-top: 17px;
	@media (max-width: $mobile) {
		gap: 0;
		grid-template-columns: 1fr;
	}
}

.article__text {
	display: flex;
	flex-direction: column;
	& > * {
		&:not(:last-child) {
			margin-bottom: 24px;
		}
		@media (max-width: $mobile) {
			margin-bottom: 20px;
		}
	}
	img {
		align-self: center;
	}
	h2 {
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		color: #25221D;
		@media (max-width: $mobile) {
			font-size: 28px;
			line-height: 32px;
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
	p {
		font-weight: 400;
		font-size: 16px;
		line-height: 25px;
		color: #343A40;
	}
	.button {
		align-self: baseline;
	}
}

.article__aside {
	margin-top: 150px;
	@media (max-width: $mobile) {
		display: none;
	}

	ul {
		display: grid;
		grid-template-columns: 26px;
		gap: 26px;
	}
	a {
		width: 26px;
		height: 26px;
	}
}

.page-links {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	.page-link {
		color: #47749E;

		&:link {
			text-decoration: underline;
		}
		&:hover {
			text-decoration: none;
		}
	}
}

.s-answertext {
	padding: 0 0 80px 0;
	&__content {
		h2 {
			font-weight: 700;
			font-size: 32px;
			line-height: 36px;
			color: #25221D;
			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
		.button {
			margin-top: 24px;
		}
	}
}

.policy__container {
	margin-top: 80px;
	margin-bottom: 80px;

	h1 {
		font-size: 32px;
		font-weight: 700;
		margin-bottom: 24px;
	}
	p {
		font-size: 16px;
		line-height: 25px;
		margin-bottom: 20px;
	}
}

.notfound__container {
	margin-top: 80px;
	margin-bottom: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;

	h1 {
		font-size: 120px;
		font-weight: 700;
		margin-bottom: 40px;
	}
}

.popup {
	transition: all 1.5s ease-in-out;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	display: none;

	&._open {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
		display: flex;
	}

	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba($black, 0.5);
	padding: 20px;
	z-index: 9999;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 10px;
		width: 100%;
		max-width: 540px;
		background: $white;
		padding: 24px;
		position: relative;
	}

	h2 {
		text-align: center;
		font-weight: 700;
		font-size: 32px;
		margin-bottom: 40px;
	}

	&__close {
		@extend %flex-center;
		position: absolute;
		top: 10px;
		right: 10px;
		width: 24px;
		height: 24px;
		cursor: pointer;
		z-index: 4;
	}
}